@import "colors";

@mixin input{
  box-sizing: border-box;
  color: $primaryText;
  border: 1px solid $border;
  border-radius: 8px;
  font-size: 0.875rem;
  padding: 4px 16px;
  min-height: 40px;
  min-width: 200px;

  &:hover,
  &:focus,
  &:focus-within {
    outline: none;
    border: solid 1px $primary;
  }

  &::placeholder {
    color: $secondaryText;
  }
}
