@import "../../../theme/colors";
@import "../../../theme/responsive";

.layout {
  min-height: 100%;
  display: grid;
  grid-template-rows: 80px 80px 1fr 40px;
  grid-template-areas:
    "header"
    "sidebar"
    "content"
    "footer";

  @include desktop{
    grid-template-columns: 250px 3fr;
    grid-template-rows: 80px 1fr 40px;
    grid-template-areas:
      "header header"
      "sidebar content"
      "footer content";
  }
}


.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  padding: 32px;
}
.content {
  grid-area: content;
  padding: 32px;
  background-color: $background;
  border-top-left-radius: 8px;
  border-top: 1px solid $border;
  border-left: 1px solid $border;
}

.sidebar {
  grid-area: sidebar;
  padding: 32px;
  display: flex;
  justify-content: space-between;

  @include desktop{
    flex-direction: column;
    justify-content: normal;
  }
}

.sidebar_item{
 padding: 16px 0px;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}
