@import "../../../../theme/colors";

@mixin RadioDefault {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 1px solid $border
}

.radioDefault {
  @include RadioDefault();
}

.wrapper {
  display: flex;
  align-items: center;
}

.radioFilled {
  @include RadioDefault();
  border: 1px solid $primary;
  display: flex;
  align-items: center;
  justify-content: center;
}

.radioFilledPoint {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: $primary;
}

.input {
  display: none;
}

.label{
  cursor: pointer;
  display: flex;
}

.textLabel{
  cursor: pointer;
  padding-left: 8px;
}
